.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4em;
  overflow-x: hidden;
  margin: 2em 0 2em 2em;
  /* background-color: red; */
}

/* Components Styles */
.Heading {
  color: var(--heading-color);
  font-size: 5em;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  padding: 1rem 0;
}

.Social {
  margin-top: 5em;
  display: flex;
  gap: 1em;
}

.Social img {
  width: 2em;
}

/* Layouts */
.App > section {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

section > img {
  width: 100%;
  max-width: 600px;
}

/*  */
p {
  font-weight: 400;
  max-width: 20ch;
  font-size: 2em;
  line-height: 90%;
  margin-bottom: 2em;
}

.bold {
  font-weight: 700;
  color: var(--heading-color);
}

/* Responsive Styles */
@media (max-width: 900px) {
  .App {
    grid-template-columns: 1fr;
  }
}
