.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4em;
  margin: 2em 0 2em 2em;
}

#tsparticles {
  position: absolute;
  z-index: -999;
}

/* Components Styles */
.Heading {
  color: var(--heading-color);
  font-size: 5em;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  /* padding: 2.5rem 0; */
}

/* Heading Animation */
h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: var(--orange);
  z-index: -1;
  transition: transform 0.3s ease;
}

h1 {
  position: relative;
  padding: 0.2rem 0;
}

h1:hover {
  color: var(--text-color);
}

.Social {
  margin-top: 3em;
  display: flex;
  gap: 1em;
}

.Social img {
  width: 2em;
}

/* Layouts */
.App > section {
  margin: 2em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
}

section > img {
  width: 100%;
  max-width: 600px;
}

/*  */
p {
  font-weight: 400;
  max-width: 20ch;
  font-size: 2em;
  line-height: 90%;
}

.bold {
  font-weight: 700;
  color: var(--heading-color);
}

/* Animations */

/* Responsive Styles */
@media (max-width: 1000px) {
  .App {
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 0;
  }

  .Heading {
    font-size: 2em;
  }

  h1 {
    text-align: center;
  }

  p {
    max-width: 100%;
    padding: 1em;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .Social {
    margin: 2em auto;
    margin-bottom: 1em;
  }
}
