/* Fonts */
@font-face {
  font-family: "Noto Sans";
  src: url("/public/assets/fonts/notosans-bold-webfont.woff2") format("woff2"),
    url("/public/assets/fonts/notosans-bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/public/assets/fonts/notosans-light-webfont.woff2") format("woff2"),
    url("/public/assets/fonts/notosans-light-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/public/assets/fonts/notosans-regular-webfont.woff2")
      format("woff2"),
    url("/public/assets/fonts/notosans-regular-webfont.woff") format("woff");
  font-weight: 400;
}

/* Main Styles */
:root {
  --background-color: #1d1a05;
  --heading-color: #b2ffa9;
  --text-color: #dad2d8;
  --orange: #f4743b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
