@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");

:root {
  --background-color: #1d1a05;
  --heading-color: #b2ffa9;
  --text-color: #dad2d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Components Styles */
.Heading {
  color: var(--heading);
  font-size: 6em;
  line-height: 90%;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
}
